doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Apollo Fuzzmoon

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')

                span.d-block.d-lg-none Apollo Fuzzmoon
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='Apollo Fuzzmoon')
            <script src="https://apis.google.com/js/platform.js"></script><div class="g-ytsubscribe" data-channelid="UCZ1diug2o9fHlCaFg790L9A" data-layout="default" data-count="default"></div>
            div.m-4 
                |
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse

                ul.navbar-nav
                
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#history') History
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#digitalization') Digitalization
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#gameengine') Into the Game Engine
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#rendering') Realtime Rendering
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') TikTok and Beyond
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#credits') Credits
                    p 
                    .social-icons.mb-4
                        a.social-icon(href='https://www.tiktok.com/@fuzzmoon')
                            i.fab.fa-tiktok
                        a.social-icon(href='https://www.linkedin.com/in/elijah-the-atkins/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://twitter.com/elijahatkins?')
                            i.fab.fa-twitter
                    

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Apollo 
                        span.text-primary Fuzzmoon
                    .subheading.mb-0 Puppet in cyberspace
                    .caption.mb-0 TikTok Followers 
                    p.lead.mp-4
                    div.d-flex
                        <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@fuzzmoon/video/6997197511723175173" data-video-id="6997197511723175173" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@fuzzmoon" href="https://www.tiktok.com/@fuzzmoon">@fuzzmoon</a> <p><a title="3danimation" target="_blank" href="https://www.tiktok.com/tag/3danimation">##3danimation</a> <a title="puppet" target="_blank" href="https://www.tiktok.com/tag/puppet">##puppet</a> <a title="how" target="_blank" href="https://www.tiktok.com/tag/how">##how</a></p> <a target="_blank" title="♬ original sound - Kira Kosarin" href="https://www.tiktok.com/music/original-sound-6844965763351202566">♬ original sound - Kira Kosarin</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
                        div.text 
                            p.lead.mb-2(style="margin-top:4rem") Apollo Fuzzmoon is a puppet who made the jump into the digital world and has gotten some attention as a VTokr animated in real time with the Unity Game Engine.
                            p.lead.mb-2 Apollo has his eyes on Youtube, and is very excited to expand on the technology he is already using and break into the world of AR and VR.     
                            <div class="powr-form-builder" id="ad98fc7e_1629084412"></div><script src="https://www.powr.io/powr.js?platform=bootstrap"></script>
 

            
            hr.m-0


            section#history.resume-section
                .resume-section-content
                    h2.mb-5 History
                    div.d-flex
                        p.lead.mb-1(style="padding:2rem")
                            | Apollo Fuzzmoon is a multimedia project by Elijah Atkins combining puppetry with 3D Animation. Initially designed for live theater in 2018. Apollo Fuzzmoon made his stage debut as "Stitch" in TDAs Help! Murder! Puppets! 
                        p.lead.mp-1
                            figure
                                img.img-fluid.img-profile.mx-auto.mb-2(src='assets/img/tdashow.jpg', alt='from back to front Jonathan Andujar with Apollo "Stitch" Fuzzmoon, Kala Roquefort with Liver and ,Cyndi Parr with Marie 2018 photo by Danté Finley' style="width:90%")
                                .caption.mb-0 Photo by Danté Finley 2018 
                                .caption.mb-0 From back to front Jonathan Andujar with Apollo "Stitch" Fuzzmoon, Kala Roquefort with Liver and Cyndi Parr with Marie 


            hr.m-0

            // Digitalization 
            section#digitalization.resume-section
               .resume-section-content
                    h2.mb-5 Digitalization 
                        h1.mb-0
                        div.d-flex
                            figure
                                img.img-fluid.img-profile.mx-auto.mb-2(src='assets/img/digipollo.jpg', alt='Apollo with his digital stunt double ' style="width:90%")
                                figcaption Apollo with his digital stunt double
                            figure 

                                p.lead.mp-1(style="padding-top:2rem") In late 2020 Apollo made the plunge into 3d through photogrammetry. First hundreds of pictures from every conceivable angle were taken with a cell phone. Those images were processed with AliceVision framework to scan the object into 3D data. The rough generated model was then cleaned up, optimized and rigged for animation in blender. 
                                p.lead.mp-1 Digitalization isn't always a difficult process, boxed food and products can easily be digitized with a few measurements and some prepared photos. 
                                img.img-fluid.img-profile.mx-auto.mb-2(src='assets/img/digitalProduct.png', alt='The Product to virtual conversion pipeline' style="width:100%;margin-top:2rem")
                                figcaption We can digitize products for virtual product placements






            hr.m-0

            // Into the Game Engine

            section#gameengine.resume-section
                .resume-section-content
                    h2.mb-5 Into the Game Engine
                    p.lead.mp-4

                    p.lead.mb-1
                        | Apollo started his Game Engine journey modestly with a simple endless runner, which you can experience 
                        a(href="https://play.unity.com/mg/other/runnin-with-apollo-fuzzmoon-1") here      

                    div.d-flex.flex-row
                        img.img-fluid.img-profile.mx-auto.mb-2(src='assets/img/intro.jpg', alt='Running with Apollo Fuzzmoon splash screen' style="width:50%")

                        img.img-fluid.img-profile.mx-auto.mb-2(src='assets/img/gameShot.jpg', alt='Apollo running through the woods' style="width:50%")               
                    p.lead.mb-1
                        | After learning how to run and jump Apollo gained the ability to talk, turn his head, dance, turn into a rag doll and fall down.                     
                    p.lead.mb-1
                        |Apollo can be operated with a PS4 controller, for real-time dynamic animation(perfect for live performances) or his animations can be pre-programed in Unity’s Non-Linear Animator. 


            hr.m-0

            // rendering
            section#rendering.resume-section
                .resume-section-content
                    h2.mb-5 Realtime Rendering
                    p.lead.mp-4
                    div.d-flex
                        p.lead.mb-0(style="margin-top:4rem; padding:1rem") Unity’s HDRP delivers high quality renders in real time with current generation hardware. The HDRP uses physically based rendering. Many of the graphical calculations relating to light reflection and texture are precalculated. Once the calculations are done the information is baked into image files. Then the GPU can produce beautiful renders at the cost of a larger file size. 

                        <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@fuzzmoon/video/6991519779316108549" data-video-id="6991519779316108549" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@fuzzmoon" href="https://www.tiktok.com/@fuzzmoon">@fuzzmoon</a> <p><a title="summermashup" target="_blank" href="https://www.tiktok.com/tag/summermashup">##SummerMashup</a> <a title="halloween" target="_blank" href="https://www.tiktok.com/tag/halloween">##halloween</a></p> <a target="_blank" title="♬ original sound - Jordan Fiction" href="https://www.tiktok.com/music/original-sound-6990161671138331398">♬ original sound - Jordan Fiction</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 TikTok and Beyond
                    p.lead.mp-4
                    div.d-flex
                        <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@fuzzmoon/video/6994090156009508102" data-video-id="6994090156009508102" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@fuzzmoon" href="https://www.tiktok.com/@fuzzmoon">@fuzzmoon</a> <p><a title="herecomestheboy" target="_blank" href="https://www.tiktok.com/tag/herecomestheboy">##herecomestheboy</a> <a title="herecomesthedude" target="_blank" href="https://www.tiktok.com/tag/herecomesthedude">##herecomesthedude</a> <a title="soos" target="_blank" href="https://www.tiktok.com/tag/soos">##soos</a>  sound by Alex Hirsch based on viral sound by @june_banoon Thank you to all my followers! Over 3k 🥳</p> <a target="_blank" title="♬ original sound - Apollo Fuzzmoon" href="https://www.tiktok.com/music/original-sound-6994089992544979717">♬ original sound - Apollo Fuzzmoon</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
                        p.lead.mb-0(style="margin-top:4rem; padding:1rem")
                            | Apollo is currently using TikTok as a playground to experiment with a combination of traditional puppetry, computer animation, and machinima. 
                        
                            | Apollo Fuzzmoon has produced over 160 videos and gained over 20,000 organic followers with no marketing or outreach. And is continuing to grow.  

            hr.m-0

            // Credits
            section#credits.resume-section
                .resume-section-content
                    h2.mb-5 Credits
                    p.lead.mp-4

                    p.lead.mp-0
                        | None of this would have been possible without the availability of powerful graphics software, and the hard work everyone has put into them. Special individuals sharing their knowledge online with tutorials. And fellow artists who have made their tools available online to speed up tedious tasks (10 years ago it took me 2-4 hours to rig a simple character and now it can be done in 2-4 minutes!!!). And a special thanks to all the artists that make their models or game assets available. Here are links to everything that made Apollo Fuzzmoon possible. 
                    p.lead.mb-0 Thank you 
                    p.lead.mp-1 
                        a(href="https://www.elijahatkins.com") Elijah Atkins
                    h3.mb-1 Software
                        ul 
                            li.lead.m-0 Photogrammetry software
                                a(href="https://meshroom-manual.readthedocs.io/en/latest/") Meshroom
                            li.lead.m-0 Automated retopology was done with 
                                a(href="https://github.com/wjakob/instant-meshes") Instant Meshes 
                            li.lead.m-0 Character Rig done with
                                a(href="https://blendermarket.com/products/auto-rig-pro") Auto Rig Pro 
                            li.lead.m-0 Additional Texturing done with 
                                a(href="https://www.substance3d.com/") Substance Painter 
                            li.lead.m-0 Animations done in
                                a(href="https://www.blender.org/") Blender 
                                |and 
                                a(href="https://unity.com/") Unity
                            li.lead.m-0 Additional animations from 
                                a(href="https://www.mixamo.com") Mixamo
                            li.lead.m-0 Adobe CC by 
                                a(href="https://adobe.com/") Adobe
                            li.lead.m-0 Low-Poly 3d props and backgrounds by 
                                a(href="https://syntystore.com/") Synty
                    h3.mb-1 Tutorials   
                        h4.mb-1 Udemy 
                            ul
                                li.lead.m-0 
                                    a(href="https://www.udemy.com/course/blender-279-nature-environment-creation/") Nature Environment Creation 
                                li.lead.m-0 
                                    a(href="https://udemy.com/course/unity-shaders/") Unity Shaders 
                                li.lead.m-0 
                                    a(href="https://www.udemy.com/course/scene-creation-with-blender-and-substance-painter/") Scene Creation with Blender and Substance Painter 
                                li.lead.m-0     
                                    a(href="https://www.udemy.com/course/become-a-material-guru-in-blender-cycles/") Become a Material Guru in Blender Cycles 
                                li.lead.m-0 
                                    a(href="https://www.udemy.com/course/blendercharacters/") Blender Characters 
                                li.lead.m-0 
                                    a(href="https://www.udemy.com/course/blender-character-creation-for-games-and-animation/") Blender Character Creation for Games and Animation
                        h4.mb-1 Unity Learn
                            ul 
                                li.lead.m-0 
                                    a(href="https://learn.unity.com/") Unity Learn
                                li.lead.m-0 
                                    a(href="https://learn.unity.com/course/create-with-code") Create with code
                                li.lead.m-0 
                                    a(href="https://learn.unity.com/project/unity-for-animation-road-to-realtime-live-series") Unity for Animation: Road to Realtime Live Series
                        h4.mb-1 Youtube Channels 
                            ul 
                                li.lead.m-0 
                                    a(href="https://www.youtube.com/c/GrantAbbitt/") Grant Abbitt 
                                li.lead.m-0 
                                    a(href="https://www.youtube.com/channel/UCdpWKLNfbROyoGPV46-zaUQ") Default Cube 
                                li.lead.m-0 
                                    a(href="https://www.youtube.com/channel/UCVIsY1n-8BaAIngZGOLJ69g") RVR Game Creator Developer 
                                li.lead.m-0 
                                    a(href="https://www.youtube.com/user/Brackeys") Brackeys

                    h3.mb-1 Sketchfab Assets  
                            ul 
                                li.lead.m-0 
                                    a(href="https://skfb.ly/6WQVt") "Area Rug Color 3D Scan"  
                                    | by Laser Design is licensed under 
                                    a(href="http://creativecommons.org/licenses/by-nc/4.0/") Creative Commons Attribution-NonCommercial.
                                li.lead.m-0 
                                    a(href="https://skfb.ly/68ZMs") "Led Tv" 
                                    | by Daniyal Malik is licensed under 
                                    a(href="http://creativecommons.org/licenses/by-nc/4.0/") Creative Commons Attribution                                
                                li.lead.m-0 
                                    a(href="https://skfb.ly/6AGH8") "Vent"
                                    | by Brandon Funk is licensed under 
                                    a(href="http://creativecommons.org/licenses/by-nc/4.0/") Creative Commons Attribution 
                                li.lead.m-0 
                                    a(href="https://skfb.ly/6AGHw") "Outlet"
                                    | by Brandon Funk is licensed under 
                                    a(href="http://creativecommons.org/licenses/by/4.0/") Creative Commons Attribution.
                                li.lead.m-0 
                                    a(href="https://skfb.ly/6TpK8") Simple Light Switch"
                                    | by BillieBones is licensed under 
                                    a(href="http://creativecommons.org/licenses/by/4.0/") Creative Commons Attribution.
                                li.lead.m-0 
                                    a(href="https://skfb.ly/6Y9YL") "UH-1 B with (half modeled cockpit)"
                                    | by TonyWony is licensed under 
                                    a(href="http://creativecommons.org/licenses/by/4.0/") Creative Commons Attribution.
                                li.lead.m-0 
                                    a(href="https://skfb.ly/6X9F6") "Couch Gameready" 
                                    | by elijahorama is licensed under 
                                    a(href="http://creativecommons.org/licenses/by/4.0/") Creative Commons Attribution.
                                li.lead.m-0 
                                    a(href="https://skfb.ly/6wvB8") "Cellphone" by chelC is licensed under 
                                    a(href="http://creativecommons.org/licenses/by/4.0/") Creative Commons Attribution.



                    h3.mb-1 Unity Assets 
                        ul 
                            li.lead.m-0 
                                a(href="https://assetstore.unity.com/packages/3d/characters/humanoids/simple-skeleton-158811") Simple Skeleton

                            
                            li.lead.m-0 
                                a(href="https://assetstore.unity.com/packages/3d/the-realtime-rascals-191779") Realtime Rascals

                            li.lead.m-0 
                                a(href="https://assetstore.unity.com/packages/essentials/tutorial-projects/asset-unlock-bedroom-183071") Bedroom Asset

                            li.lead.m-0 
                                a(href="https://assetstore.unity.com/packages/essentials/tutorial-projects/asset-unlock-kitchen-183074") Kitchen Asset

                            li.lead.m-0 
                                a(href="https://assetstore.unity.com/packages/2d/textures-materials/sky/free-hdr-sky-61217") Free HDR Sky

                            li.lead.m-0 
                                a(href="https://assetstore.unity.com/packages/tools/game-toolkits/game-creator-89443") Game Creator
                            
                    h3.mb-1 Web Assets 
                        ul 
                            li.lead.m-0 
                                a(href="https://startbootstrap.com/theme/resume") Bootstrap Theme for this website

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')